@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg: #f5f5f5;
$border: #eab126;
$link: #1fb58f;
$linkhover: #1b7b34;
$red: #ff3366;
$redhover: #f7003e;
$title: #ffffff;
$text: #474747;
$boldtext: #333333;
$button: #f24c4e;

$smartphone: "only screen and (min-width : 320px)";
$large-smartphone: "only screen and (min-width : 425px)";
$portrait-tablet: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 961px)";
$laptop: "only screen and (min-width: 1024px)";
$laptop-large: "only screen and (min-width: 1440px)";
$bigscreens: "only screen and (min-width: 2000px)";

$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";

$dpi2: "(min-resolution: 2dppx)";
//@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
//@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
//@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
//@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
//@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
//@media (min-width:1281px) { /* hi-res laptops and desktops */ }
//@media (min-width:2560px) { /* 4k screens */ }


.yes{
  color: $red !important;
  font-size: 1.5em;
}


.owl-carousel{
  margin-top: 1em;
}

#wantmore{
  ul{
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
    margin: 0;
    li{
      width: 100%;
      margin: 0;
      a{
        padding: 0.8em 0;
        width: 100%;
        display:block;
      }
    }
  }
}


html, body {
    width:100%;
    font-size: 1.4em;
    font-size: 1.5vmax;
    font-family: 'Roboto', sans-serif;
    color: $text;
    background: url('/imgs/bg.png');
}
#work{
  background-color: purple;
}

#mypicture{
    margin-top: 0.5em;
}

#bullseye,
#mypicture,
#scsslogo{
  width: 50%;
}

#langimg{
  width: 80%;
}

.imgresp{
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  img{
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}


#skillstitle{
    margin-bottom: 0px;
}


.facontainer{
  padding: 1em 0;
  text-align: center;
}

.experienceparagraph {
    padding: 1em 3em;
}

.workexperience{
  text-align: center;
  color: $red;
  text-transform: uppercase;
}

.realexperience{
  display:block;
}

.notfound{
  font-size: 15vw;
  font-weight: bold;

}

#mskills {
  h2{
    margin-bottom: 0;
  }
}

#complementaryeducation {
  ul{
    margin-top:0;
  }
}

#morelanguages{
  h3,h4,h5,h6{
      margin: 0.8em 0;
  }
  h3{
    text-align: center;
  }
}

.contactmail{
  text-align: center;
  font-size: 2em;
  width: 100%;
  position: absolute;
  top: 45%;
  a{
    text-decoration: none;
    color: $red;
  }

  /* unvisited link */
  a:link {
      color: $red;
  }

  /* visited link */
  a:visited {
      color: $red;
  }

  /* mouse over link */
  a:hover {
      color: $redhover;
      background: #e1e1e1;
  }

  /* selected link */
  a:active {
    color: $red;
  }
}

.halflangbox{
  width: 50%;
  display:inline-block;
  text-align:center;
  margin: 0.5em 0;
}

.englishcontainer{
  h2, h3, h4, h5, h6{
    margin: 0.5em 0 0.5em;
  }
}

.fulllangbox{
  width: 100%;
  display:inline-block;
  text-align:center;
  margin: 0.5em 0;
}

.middleborder{
  position:absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-right: 1px solid $border;
  height: 75%;
  margin: 0.5em 0;
}

.langboxcontainer{
  position: relative;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

#educationimg{
  span{
    color: $boldtext;
    font-size: 22vw;
  }
}

.uppercaseheader{
  text-transform: uppercase;
}

.mainheader{
    background-color: #d7d7d7;
    text-transform: uppercase;
    color: $boldtext !important;
    font-weight: bold;
}

.langtitle{
    font-weight: bold;
    color: $red;
}

p{
  padding: 0.5em 1em;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: justify;
  word-wrap: break-word;
  white-space: normal;
}

#slideshow{
  a{
    font-size: 0.8em;
  }
}

#intro{
  color: $button;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 0;
  padding-top: 1em;
}

ul{
  padding: 0 1em 0 2.5em;
  list-style-type: square;
  line-height: 1em;
  text-align: justify;
  li{
    margin-bottom: 0.3em;
  }
}

h1,h2,h3,h4,h5,h6{
    margin-left: 0.5em;
}

h2{
  margin: 0 0 0.5em 0;
  padding: 0.5em 0.5em 0.3em 0.5em;
  color: $link;
  border-bottom: 1px solid $border;
}

.contentwrapper{
    display: block;
    margin: 2% 5% 0 5%;
    width:90%;
    height:98%;
    position: relative;
}

.myworkscontainer{
  position: absolute;
  top: 40%;
  width: 100%;
  p{
    display: block;
    text-align: center;
    padding: 0;
    font-size: 2em;
  }
}
.bold{
  font-weight: bold;
  color:$boldtext;
}

.italic{
  font-style: italic;
}

#lang-menu{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  span{
    margin: 0 0.1em;
  }
  a{
      padding: 0.5em;
  }
}

#menu-nav{
  position: absolute;
  left: 0;
  bottom:10%;
  width: 100%;
  text-align: center;

  #menu{
    list-style-type: none;
    padding: 0;
    height:auto;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    li{
      display: inline-block;
      a{
        display:block;
        padding: 1em;
        text-transform: uppercase;

        text-align: center;
      }

    }
  }
}

a{
  text-decoration: none;
  color: $link;
}

/* unvisited link */
a:link {
    color: $link;
}

/* visited link */
a:visited {
    color: $link;
}

/* mouse over link */
a:hover {
    color: $linkhover;
    background: #e1e1e1;
}

/* selected link */
a:active {
  color: $link;
}

#bullseye{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;

  -ms-animation-duration: 5s;
  -ms-animation-delay: 0s;
  -ms-animation-iteration-count: infinite;

  -moz-animation-duration: 5s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;


  img{
    height: 80%;
  }
}

#landing-bg{
  background: url('/imgs/signature_alt.png') no-repeat;
  background-position: 50% 20%;
  background-size: 55%;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#scroll-down{
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.courseduration{
  font-size: 0.8em;
  color: gray;
}

.courseduration::before{
  content: " ";
}

.institutionlist{
  list-style-type: none;
  padding-left: 1em;
}

#msrocketcontainer{
  position: absolute;
  width: 100%;
  bottom: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 20vh;
}

.centered{
  text-align: center;
}

#srocket{
  color: $red;
}

#moreskillsdesc{
  p{
    padding: 2em;
    padding-bottom: 0;
  }
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}



.owl-nav{
  font-size: 2vmax;
  width: 50%;
  margin: 2em auto 0 auto;
  .owl-prev{
    display: inline-block;
    width: 50%;
  }
  .owl-next{
    display: inline-block;
    width: 50%;
    text-align: right;
  }
  i{
    padding: 0.5em;
    background: $button;
    color: #fff;
  }
}

.owl-carousel .owl-item img{
  width: 50%;
  margin: 0 auto;
}

@media #{$portrait}{
  .notfound{
    font-size: 15vh;
  }
  #menu-nav{
    bottom: 25%;
  }
  body{
    font-size: 2vmax;
  }
  #educationimg span{
    font-size: 50vw;
  }
}

@media #{$landscape}{
  #landing-bg{
    background-size: 45%;
  }
}

@media #{$tablet} {

  #menu-nav{
    bottom: 15%;
  }

  .img-container:before {
    height: 100vh;
  }
}

@media #{$laptop-large} and #{$landscape}{
    #landing-bg{
      background-size: 35% !important;
    }
}

@media #{$bigscreens} and #{$dpi2}{
  #landing-bg{
    background-size: 25% !important;
  }
  body{
    font-size: 1vmax !important;
  }
}
