@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg: #f5f5f5;
$border: #eab126;
$link: #1fb58f;
$linkhover: #1b7b34;
$red: #ff3366;
$title: #ffffff;
$text: #474747;
$boldtext: #333333;
$button: #f24c4e;

$smartphone: "only screen and (min-width : 320px)";
$large-smartphone: "only screen and (min-width : 425px)";
$portrait-tablet: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 961px)";
$laptop: "only screen and (min-width: 1024px)";
$laptop-large: "only screen and (min-width: 1440px)";
$bigscreens: "only screen and (min-width: 2560px)";

$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";

$dpi2: "(min-resolution: 2dppx)";
//@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
//@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
//@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
//@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
//@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
//@media (min-width:1281px) { /* hi-res laptops and desktops */ }
//@media (min-width:2560px) { /* 4k screens */ }


.yes{
  color: $red !important;
  font-size: 1.5em;
}

@media #{$dpi2}{
  body{
    font-size: 2vmax !important;
  }
}

@media #{$laptop-large} and #{$landscape}{
    #landing-bg{
      background-size: 35% !important;
    }
}

@media #{$laptop-large} and #{$dpi2}{
  body{
    font-size: 1vmax !important;
  }
}

.owl-carousel{
  margin-top: 1em;
}


html, body {
    width:100%;
    height: 100% !important;
    font-size: 1.5vmax;
    font-family: 'Roboto', sans-serif;
    color: $text;
    background: url(/imgs/bg.png);
}

/* full width/height container */
#main-container {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

/* double the height/width of a viewport, uses position-fixed so we dont need
#skrollr-body for mobile support*/
#paralax-sections {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}


#work{
  background-color: purple;
}

#mypicture{
    margin-top: 0.5em;
}


.imgrespheight{
  width: 100%;
  height: 50%;
  text-align: center;
  img{
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
  }
}

.imgrespwidth{
  width: 70%;
  margin: 0 auto;
  display: block;
  text-align: center;
  img{
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}


#skillstitle{
    margin-bottom: 0px;
}


.facontainer{
  padding: 1em 0;
  text-align: center;
}

.experienceparagraph {
    padding: 1em 3em;
}

.workexperience{
  text-align: center;
  color: $red;
  text-transform: uppercase;
}

.realexperience{
  display:block;
}

.notfound{
  font-size: 15vmax;
  font-weight: bold;

}


#whoami {
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#objectives {
    -webkit-transform: translate(0%,200%);
    -ms-transform: translate(0%,200%);
    transform: translate(0%,200%);
}

#skills {
    -webkit-transform: translate(0%,300%);
    -ms-transform: translate(0%,300%);
    transform: translate(0%,300%);
}

#mskills {
  -webkit-transform: translate(100%,300%);
  -ms-transform: translate(100%,300%);
  transform: translate(100%,300%);
}

 #education {
   -webkit-transform: translate(0%,400%);
   -ms-transform: translate(0%,400%);
   transform: translate(0%,400%);
}

#complementaryeducation {
  -webkit-transform: translate(0%,500%);
  -ms-transform: translate(0%,500%);
  transform: translate(0%,500%);
}

#morecomplementaryeducation{
  -webkit-transform: translate(100%,500%);
  -ms-transform: translate(100%,500%);
  transform: translate(100%,500%);
}

#workexperience{
  -webkit-transform: translate(0%,700%);
  -ms-transform: translate(0%,700%);
  transform: translate(0%,700%);
}

#myworks{
  -webkit-transform: translate(0%,800%);
  -ms-transform: translate(0%,800%);
  transform: translate(0%,800%);
}

#logodesign{
  -webkit-transform: translate(100%,800%);
  -ms-transform: translate(100%,800%);
  transform: translate(100%,800%);
}

#bogui{
  -webkit-transform: translate(0%,900%);
  -ms-transform: translate(0%,900%);
  transform: translate(0%,900%);
}

#scss{
  -webkit-transform: translate(100%,900%);
  -ms-transform: translate(100%,900%);
  transform: translate(100%,900%);
}

#ttt{
  -webkit-transform: translate(0%,1000%);
  -ms-transform: translate(0%,1000%);
  transform: translate(0%,1000%);
}


#recblock{
  -webkit-transform: translate(100%,1000%);
  -ms-transform: translate(100%,1000%);
  transform: translate(100%,1000%);
}

#ateca{
  -webkit-transform: translate(0%,1100%);
  -ms-transform: translate(0%,1100%);
  transform: translate(0%,1100%);
}

#atecaimg{
  -webkit-transform: translate(100%,1100%);
  -ms-transform: translate(100%,1100%);
  transform: translate(100%,1100%);
}

#wantmore{
  -webkit-transform: translate(0%,1200%);
  -ms-transform: translate(0%,1200%);
  transform: translate(0%,1200%);
}

#contact{
  -webkit-transform: translate(100%,1200%);
  -ms-transform: translate(100%,1200%);
  transform: translate(100%,1200%);
}


#languages{
  -webkit-transform: translate(0%,600%);
  -ms-transform: translate(0%,600%);
  transform: translate(0%,600%);
}

#morelanguages{
  -webkit-transform: translate(100%,600%);
  -ms-transform: translate(100%,600%);
  transform: translate(100%,600%);
}

#mskills {
  h2{
    margin-bottom: 0;
  }
}

#complementaryeducation {
  ul{
    margin-top:0;
  }
}

#morelanguages{
  h3,h4,h5,h6{
      margin: 0.8em 0;
  }
  h3{
    text-align: center;
  }
}

.atecaimg{
    height: 80%;
}
.contactmail{
  text-align: center;
  margin-top: 10%;
  font-size: 2em;
}

.halflangbox{
  width: 50%;
  display:inline-block;
  text-align:center;
  margin: 0.5em 0;
}

.englishcontainer{
  h2, h3, h4, h5, h6{
    margin: 0.5em 0 0.5em;
  }
}

.fulllangbox{
  width: 100%;
  display:inline-block;
  text-align:center;
  margin: 0.5em 0;
}

.middleborder{
  position:absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-right: 1px solid $border;
  height: 75%;
  margin: 0.5em 0;
}

.langboxcontainer{
  position: relative;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

#educationimg{
  span{
    color: $boldtext;
    font-size: 22vw;
  }
}

.uppercaseheader{
  text-transform: uppercase;
}

.mainheader{
    background-color: #d7d7d7;
    text-transform: uppercase;
    color: $boldtext !important;
    font-weight: bold;
}

.langtitle{
    font-weight: bold;
    color: $red;
}

#educationimg[active="1"]{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

p{
  padding: 0.5em 1em;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: justify;
  word-wrap: break-word;
  white-space: normal;
}

#intro{
  color: $button;
  padding-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  p{
    margin: 0 auto;
    display: inline-block;
  }

}



ul{
  padding: 0 1em 0 2.5em;
  list-style-type: square;
  line-height: 1em;
  text-align: justify;
  li{
    margin-bottom: 1em;
  }
}

h1,h2,h3,h4,h5,h6{
    margin-left: 0.5em;
}

h2{
  margin: 0 0 0.5em 0;
  padding: 0.5em 0.5em 0.3em 0.5em;
  color: $link;
  border-bottom: 1px solid $border;
}

.contentwrapper{
    display: block;
    margin: 2% 5% 0 5%;
    width:90%;
    height:98%;
}

.myworkscontainer{
  position: absolute;
  top: 30%;
  width: 100%;
  p{
    display: block;
    text-align: center;
    font-size: 3vmax;
  }
}
.bold{
  font-weight: bold;
  color:$boldtext;
}

.italic{
  font-style: italic;
}

#menu-nav{
  position: absolute;
  bottom:10%;
  width: 100%;
  text-align: center;

  #menu{
    list-style-type: none;
    padding: 0;
    height:auto;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    li{
      display: inline-block;
      a{
        display:block;
        padding: 1em;
        text-transform: uppercase;

        text-align: center;
      }

    }
  }
}

a{
  text-decoration: none;
  color: $link;
}

/* unvisited link */
a:link {
    color: $link;
}

/* visited link */
a:visited {
    color: $link;
}

/* mouse over link */
a:hover {
    color: $linkhover;
    background: #e1e1e1;
}

/* selected link */
a:active {
  color: $link;
}

.paralax-section {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
    overflow: hidden;
}

#bullseye{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;

  -ms-animation-duration: 5s;
  -ms-animation-delay: 0s;
  -ms-animation-iteration-count: infinite;

  -moz-animation-duration: 5s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;


  img{
    height: 80%;
  }
}



#landing-bg{
  background: url('/imgs/signature_alt.png') no-repeat;
  background-position: 50% 20%;
  background-size: 55%;
}

.bg-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0%,-100%);
  -ms-transform: translate(0%,-100%);
  transform: translate(0%,-100%);
}

#helper {
    position:absolute;
    left:0;
    top: 0;
    height:3100%;
    width: 1px;
}

.marker {
    height: 4.76%;
    width: 100%;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.cyan{
  background-color: cyan;
}
.pink{
  background-color: pink;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#scroll-down{
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.courseduration{
  font-size: 0.8em;
  color: gray;
}

.courseduration::before{
  content: " ";
}

.institutionlist{
  list-style-type: none;
  padding-left: 1em;
}

#msrocketcontainer{
  position: absolute;
  width: 100%;
  bottom: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 20vh;
}

.centered{
  text-align: center;
}

#moreskillsdesc{
  p{
    padding: 2em;
    padding-bottom: 0;
  }
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}



.owl-nav{
  font-size: 2vmax;
  width: 50%;
  margin: 2em auto 0 auto;
  .owl-prev{
    display: inline-block;
    width: 50%;
  }
  .owl-next{
    display: inline-block;
    width: 50%;
    text-align: right;
  }
  i{
    padding: 0.5em;
    background: $button;
    color: #fff;
  }
}

.owl-carousel .owl-item img{
  width: 50%;
  margin: 0 auto;
}

#ttt .imgrespheight,
#bogui .imgrespheight{
  height: 60%;
}


@media #{$portrait}{

  #menu-nav{
    bottom: 25%;
  }
  body{
    font-size: 2vmax;
  }
  #educationimg span{
    font-size: 50vw;
  }
}

@media #{$landscape}{
  #landing-bg{
    background-size: 45%;
  }

}

@media #{$tablet} {

  #menu-nav{
    bottom: 15%;
  }

  .img-container:before {
    height: 100vh;
  }
}
