$slides_begin: 0;
$slides_pause: 50;
$landing_duration: 100;
$slides_duration: 150;
$whoami: $landing_duration;
$objectives: $whoami + $slides_duration;
$skills: $objectives + $slides_duration;
$mskills: $skills + $slides_duration;
$education: $mskills + $slides_duration;
$complementary_education: $education + $slides_duration;
$more_complementary_education: $complementary_education + $slides_duration;
$languages: $more_complementary_education + $slides_duration;
$more_languages: $languages + $slides_duration;
$work_experience: $more_languages + $slides_duration;
$my_works: $work_experience + $slides_duration;
$logo_design: $my_works + $slides_duration;
$bogui: $logo_design + $slides_duration;
$scss: $bogui + $slides_duration;
$ttt: $scss + $slides_duration;
$recblock: $ttt + $slides_duration;
$ateca: $recblock + $slides_duration;
$want_more: $ateca + $slides_duration;

#paralax-sections{
  -skrollr-animation-name:slideshow;
}

#intro{
  -skrollr-animation-name:introanimation;
  -skrollr-anchor-target: '#helper';
}

#landing-bg{
  -skrollr-animation-name:landingbg;
  -skrollr-anchor-target: '#helper';
}

#whoamicontent h2{
  -skrollr-animation-name:whoamicontent;
  -skrollr-anchor-target: '#helper';
}

#whoamicontent p{
  -skrollr-animation-name:whoamicontent;
  -skrollr-anchor-target: '#helper';
}

#bullseye img{
  -skrollr-animation-name:bullseye;
  -skrollr-anchor-target: '#helper';
}

#srocket{
  -skrollr-animation-name:srocket;
  -skrollr-anchor-target: '#helper';
}

#msrocket{
  -skrollr-animation-name:msrocket;
  -skrollr-anchor-target: '#helper';
}

#skillsdesc{
  -skrollr-animation-name:skillscontent;
  -skrollr-anchor-target: '#helper';
}

#mypicture{
  -skrollr-animation-name:mypicture;
  -skrollr-anchor-target: '#helper';
}

#skillstitle{
  -skrollr-animation-name:skillscontent;
  -skrollr-anchor-target: '#helper';
}

#educationimg{
  -skrollr-animation-name:activate_animation_education;
  -skrollr-anchor-target: '#helper';
}


#menu{
  -skrollr-animation-name:introanimation;
  -skrollr-anchor-target: '#helper';
}

#objectivescontent{
  -skrollr-animation-name:objectivescontent;
  -skrollr-anchor-target: '#helper';
}

#educationcontent{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}

#educationtitle{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}

#educationimg{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}

@-skrollr-keyframes landingbg {
    skrollr-#{$slides_begin} {
      transform:translate(0%, 0%);
      opacity: 1;
    }

    skrollr-#{$slides_begin + $slides_pause}p{
      transform:translate(0%, -10%);
      opacity: 0;
    }
}

@-skrollr-keyframes introanimation {
    skrollr-#{$slides_begin}p {
      transform:translate(0%, 0%);
      opacity: 1;
      display: block;
    }

    skrollr-#{$whoami - 50}p{
      transform:translate(0%, 5%);
      opacity: 0;
      display: none;
    }
}

@-skrollr-keyframes bullseye {
  skrollr-#{$objectives}p {
    transform:rotate(0deg);
  }

  skrollr-#{$objectives+ $slides_pause}p {
    transform:rotate(-120deg);
    opacity: 1;
  }

  skrollr-#{$skills}p {
    opacity: 0;
  }

}

@-skrollr-keyframes srocket {
  skrollr-#{$skills}p {
    color: #e50000;
    transform:translate(0%, 0%);
  }

  skrollr-#{$mskills}p {
    transform:translate(300%, -500%);
  }

}


@-skrollr-keyframes msrocket {
  skrollr-#{$slides_begin}p {
    color: #e50000;
    visibility: hidden;
  }
  skrollr-#{$mskills - $slides_pause}p {
    visibility: visible;
    transform:translate(0%, -400%) rotate(-45deg);
  }

  skrollr-#{$mskills + $slides_pause}p {
    transform:translate(0%, 0%) rotate(-45deg);
  }
}

@-skrollr-keyframes slideshow {
  skrollr-#{$slides_begin}p {
    transform:translate(0%,0%);
  }

  skrollr-#{$whoami}p {
    transform:translate(0%,-50%);
  }

  skrollr-#{$whoami+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$objectives}p {
    transform:translate(0%,-100%);
  }

  skrollr-#{$objectives+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$skills}p {
    transform:translate(0%,-150%);
  }

  skrollr-#{$skills+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$mskills}p {
    transform:translate(-50%,-150%);
  }

  skrollr-#{$mskills+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$education}p {
    transform:translate(0%,-200%);
  }

  skrollr-#{$education+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$complementary_education}p {
    transform:translate(0%,-250%);
  }

  skrollr-#{$complementary_education+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$more_complementary_education}p {
    transform:translate(-50%,-250%);
  }

  skrollr-#{$more_complementary_education+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$languages}p {
    transform:translate(0%,-300%);
  }

  skrollr-#{$languages+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$more_languages}p {
    transform:translate(-50%,-300%);
  }

  skrollr-#{$more_languages+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$work_experience}p {
    transform:translate(0%,-350%);
  }

  skrollr-#{$work_experience+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$my_works}p {
    transform:translate(0%,-400%);
  }

  skrollr-#{$my_works+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$logo_design}p {
    transform:translate(-50%,-400%);
  }

  skrollr-#{$logo_design+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$scss}p {
    transform:translate(-50%,-450%);
  }

  skrollr-#{$scss+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$bogui}p {
    transform:translate(0%,-450%);
  }

  skrollr-#{$bogui+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$ttt}p {
    transform:translate(0%,-500%);
  }

  skrollr-#{$ttt+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$recblock}p {
    transform:translate(-50%,-500%);
  }

  skrollr-#{$recblock+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$ateca}p {
    transform:translate(0%,-550%);
  }

  skrollr-#{$ateca+$slides_pause}p {
    visibility: visible;
  }
}
