$slides_begin: 0;
$slides_pause: 50;
$landing_duration: 100;
$slides_duration: 150;
$whoami: $landing_duration;
$objectives: $whoami + $slides_duration;
$skills: $objectives + $slides_duration;
$education: $skills + $slides_duration;
$cumplimentary_education: $education + $slides_duration;
$languages: $cumplimentary_education + $slides_duration;

#paralax-sections{
  -skrollr-animation-name:slideshow;
}

#intro{
  -skrollr-animation-name:introanimation;
  -skrollr-anchor-target: '#helper';
}

#landing-bg{
  -skrollr-animation-name:landingbg;
  -skrollr-anchor-target: '#helper';
}

#whoamicontent h2{
  -skrollr-animation-name:whoamicontent;
  -skrollr-anchor-target: '#helper';
}

#whoamicontent p{
  -skrollr-animation-name:whoamicontent;
  -skrollr-anchor-target: '#helper';
}

#mypicture{
  -skrollr-animation-name:mypicture;
  -skrollr-anchor-target: '#helper';
}

#bullseye img{
  -skrollr-animation-name:bullseye;
  -skrollr-anchor-target: '#helper';
}

#rocket{
  -skrollr-animation-name:rocket;
  -skrollr-anchor-target: '#helper';
}

#skillsdesc{
  -skrollr-animation-name:skillscontent;
  -skrollr-anchor-target: '#helper';
}

#skillstitle{
  -skrollr-animation-name:skillscontent;
  -skrollr-anchor-target: '#helper';
}

#educationimg{
  -skrollr-animation-name:education;
  -skrollr-anchor-target: '#helper';
}

#menu{
  -skrollr-animation-name:menuanimation;
  -skrollr-anchor-target: '#helper';
}

#objectivescontent{
  -skrollr-animation-name:objectivescontent;
  -skrollr-anchor-target: '#helper';
}

#educationcontent{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}

#educationtitle{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}

#educationimg{
  -skrollr-animation-name:educationcontent;
  -skrollr-anchor-target: '#helper';
}


#cumplimentaryeducationcontent{
  -skrollr-animation-name:cumplimentaryeducationcontent;
  -skrollr-anchor-target: '#helper';
}

@-skrollr-keyframes introanimation {
    skrollr-#{$slides_begin} {
      transform:translate(0%, 0%);
      opacity: 1;
    }

    skrollr-#{$slides_begin + 50}p{
      transform:translate(0%, 5%);
      opacity: 0;
    }
}

@-skrollr-keyframes landingbg {
    skrollr-#{$slides_begin} {
      transform:translate(0%, 100%);
      opacity: 1;
    }

    skrollr-#{$landing_duration}p{
      transform:translate(0%, -100%);
      opacity: 0;
    }
}



@-skrollr-keyframes whoamicontent {
    skrollr-#{$whoami+$slides_pause}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }


    skrollr-#{$objectives}p {
      transform:translate(110%, 0%);
      opacity: 0;
    }
}

@-skrollr-keyframes objectivescontent {
    skrollr-#{$objectives+$slides_pause}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }

    skrollr-#{$skills}p {
      transform:translate(160%, 0%);
      opacity: 0;
    }
}

@-skrollr-keyframes skillscontent {
    skrollr-#{$skills+ $slides_pause}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }


    skrollr-#{$education - $slides_pause}p {
      transform:translate(0%, -10%);
      opacity: 0;
    }
}

@-skrollr-keyframes educationcontent {
    skrollr-#{$education+$slides_pause}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }


    skrollr-#{$cumplimentary_education}p {
      transform:translate(0%, -50%);
      opacity: 0;
    }
}

@-skrollr-keyframes cumplimentaryeducationcontent {
    skrollr-#{$cumplimentary_education + $slides_pause}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }

    skrollr-#{$languages}p {
      transform:translate(110%, 0%);
      opacity: 0;
    }
}

@-skrollr-keyframes mypicture {
  skrollr-#{$whoami+ $slides_pause}p {
    transform:translate(0%, 0%);
  }

  skrollr-#{$objectives}p {
    transform:translate(-110%, 0%);
  }
}

@-skrollr-keyframes bullseye {
  skrollr-#{$objectives}p {
    transform:rotate(0deg);
  }

  skrollr-#{$objectives+ $slides_pause}p {
    transform:rotate(-120deg);
    opacity: 1;
  }

  skrollr-#{$skills}p {
    opacity: 0;
  }

}

@-skrollr-keyframes rocket {
  skrollr-#{$skills}p {
    color: #333;
  }

  skrollr-#{$skills+10}p {
    color: #e50000;
    transform:translate(0%, 0%);
  }

  skrollr-#{$education}p {
    transform:translate(300%, -500%);
  }
}

@-skrollr-keyframes education {
  skrollr-#{$slides_begin}p {
    @active: 0;
  }
  skrollr-#{$education}p {
    @active: 1;
  }
}

@-skrollr-keyframes menuanimation {
    skrollr-#{$landing_duration - 30}p {
      transform:translate(0%, 0%);
      opacity: 1;
    }

    skrollr-#{$landing_duration - 20}p{
      transform:translate(0%, -10%);
      opacity: 0;
    }
}

@-skrollr-keyframes slideshow {
  skrollr-#{$slides_begin}p {
    transform:translate(0%,0%);
  }

  skrollr-#{$whoami}p {
    transform:translate(0%,-33.333%);
  }

  skrollr-#{$whoami+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$objectives}p {
    transform:translate(-33.333%,-33.333%);
  }

  skrollr-#{$objectives+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$skills}p {
    transform:translate(-66.666%,-33.333%);
  }

  skrollr-#{$skills+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$education}p {
    transform:translate(0,-66.666%);
  }

  skrollr-#{$education+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$cumplimentary_education}p {
    transform:translate(0%,-99.999%);
  }

  skrollr-#{$cumplimentary_education+$slides_pause}p {
    visibility: visible;
  }

  skrollr-#{$languages}p {
    transform:translate(-33.333%,-99.999%);
  }

  skrollr-#{$languages+$slides_pause}p {
    visibility: visible;
  }

}
