$portrait: "(orientation: portrait)";
$laptop: "only screen and (min-width: 1024px)";
$bigscreens: "only screen and (min-width: 2000px)";
$dpi2: "(min-resolution: 2dppx)";


.socialnetworks a{
  margin: 0 10px;
}

@media #{$laptop} {
  .imgresp{
    width: 50% !important;
  }

}

#belloneo .imgresp{
  width: 25% !important;
}

#mypicture{
  width: 25% !important;
}

#bullseye, #scsslogo{
  width: 30% !important;
}

 #langimg{
  width: 40% !important;
}

@media #{$portrait}{
    .contactmail{
      font-size: 1.5em;
    }
}
#landing-bg{
  height: 100vh;
  width: 100vw;
}

#main-container{
  width: 95%;
  margin: 0 auto;
}

#msrocket{
  display: none;
}

@media #{$bigscreens} and #{$dpi2}{
  #bullseye,
  #mypicture,
  #scsslogo{
    width: 15%;
  }

  #langimg{
    width: 25%;
  }
  #educationimg span{
    font-size: 15vw;
  }
}


html,body{
  overflow-x: hidden;
}

.myworkscontainer{
  position: static;
  width: 100%;
}


#menu-nav{
  width: 100vw;
}
#myworks{
  display:none;
}
#mskills .contentwrapper,
#morecomplementaryeducation .contentwrapper{
  margin-top: 0;
}

.contentwrapper{
  margin: 3% 5% 0 5%;
}

.langboxcontainer{
  width: 70%;
  margin: 0 auto;
}

#morelanguages h3{
    text-align: left;
    margin-bottom: 0.5em;
}

#morelanguages h4, #morelanguages h5, #morelanguages h6{
    text-align: center;
}

.contactmail{
  padding: 1em;
  width: 100%;
  position: static;
  a{
    display: block;
  }
}
