doctype html
html
  head
    title!= title
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    script(href='/js/third-parties/modernizr.js')
  body
    #main-container
      #paralax-sections
        #landing.paralax-section
        #about-me.paralax-section
        #work.paralax-section
        #contact.paralax-section
    #helper
      .marker.red
      .marker.blue
      .marker.green
      .marker.yellow
    script(src='/js/skrollr.js')
    script(src='/js/skrollr-ie.js')
    script(src='/js/skrollr-menu.js')
    script(src='/js/skrollr-stylesheets.js')
    script(src='/js/load-skrollr.min.js')
