@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f5f5f5; }

/* full width/height container */
#main-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* double the height/width of a viewport, uses position-fixed so we dont need
#skrollr-body for mobile support*/
#paralax-sections {
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0; }

#about-me {
  background-color: #f5f5f5; }

#contact {
  background-color: #f5f5f5; }

#work {
  background-color: blue; }

#formation {
  background-color: pink; }

#about-me {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%); }

#formation {
  -webkit-transform: translate(0%, 200%);
  -ms-transform: translate(0%, 200%);
  transform: translate(0%, 200%); }

#work {
  -webkit-transform: translate(100%, 200%);
  -ms-transform: translate(100%, 200%);
  transform: translate(100%, 200%); }

#contact {
  -webkit-transform: translate(0%, 300%);
  -ms-transform: translate(0%, 300%);
  transform: translate(0%, 300%); }

#intro {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 40%;
  width: 100%; }
  #intro p {
    margin: 0 auto;
    display: inline-block; }

#menu-nav {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center; }
  #menu-nav #menu {
    list-style-type: none;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: inline-block; }
    #menu-nav #menu li {
      /* unvisited link */
      /* visited link */
      /* mouse over link */
      /* selected link */ }
      #menu-nav #menu li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;
        color: #0000b5; }
      #menu-nav #menu li a:link {
        color: #0000b5; }
      #menu-nav #menu li a:visited {
        color: #0000b5; }
      #menu-nav #menu li a:hover {
        color: #2929ff;
        background: #e1e1e1; }
      #menu-nav #menu li a:active {
        color: #0000b5; }

.paralax-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%; }

#landing-bg {
  background: url("/imgs/signature.png") no-repeat;
  background-position: 50% 35%;
  background-size: 70%;
  top: -100%; }

.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#helper {
  position: absolute;
  left: 0;
  top: 0;
  height: 750%;
  width: 20px; }

.marker {
  height: 20%;
  width: 100%; }

.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

.yellow {
  background-color: yellow; }

.orange {
  background-color: orange; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

#scroll-down {
  position: absolute;
  bottom: 5%;
  left: 50%; }

@media only screen and (min-width: 641px) {
  body #landing-bg {
    background-size: 40%; }
  #menu li {
    display: inline-block; }
  #landing #menu li a {
    margin: 0 1em; } }

@media only screen and (min-width: 961px) {
  #intro {
    bottom: 35%; }
  #menu-nav {
    bottom: 15%; } }

@media only screen and (min-width: 1025px) {
  body {
    font-size: 1.2em; }
  body #landing-bg {
    background-size: 25%; } }

@media only screen and (min-width: 2560px) {
  body {
    font-size: 2em; }
  #landing #intro {
    bottom: 30%; } }
