html, body {
  width: 100%;
  height: 100%; }

/* full width/height container */
#main-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* double the height/width of a viewport */
#paralax-sections {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

#landing, #about-me, #work, #contact {
  background: #e1e1e1; }

#about-me {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%); }

#work {
  -webkit-transform: translate(0%, 200%);
  -ms-transform: translate(0%, 200%);
  transform: translate(0%, 200%); }

#contact {
  -webkit-transform: translate(0%, 300%);
  -ms-transform: translate(0%, 300%);
  transform: translate(0%, 300%); }

.paralax-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%; }

#helper {
  position: absolute;
  left: 0;
  top: 0;
  height: 400%;
  width: 20px; }

.marker {
  height: 25%;
  width: 100%; }

.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

.yellow {
  background-color: yellow; }
