#paralax-sections {
  -skrollr-animation-name: slideshow; }

#intro {
  -skrollr-animation-name: introanimation;
  -skrollr-anchor-target: '#helper'; }

#landing-bg {
  -skrollr-animation-name: landingbg;
  -skrollr-anchor-target: '#helper'; }

#whoamicontent h2 {
  -skrollr-animation-name: whoamicontent;
  -skrollr-anchor-target: '#helper'; }

#whoamicontent p {
  -skrollr-animation-name: whoamicontent;
  -skrollr-anchor-target: '#helper'; }

#mypicture {
  -skrollr-animation-name: mypicture;
  -skrollr-anchor-target: '#helper'; }

#bullseye img {
  -skrollr-animation-name: bullseye;
  -skrollr-anchor-target: '#helper'; }

#rocket {
  -skrollr-animation-name: rocket;
  -skrollr-anchor-target: '#helper'; }

#skillsdesc {
  -skrollr-animation-name: skillscontent;
  -skrollr-anchor-target: '#helper'; }

#skillstitle {
  -skrollr-animation-name: skillscontent;
  -skrollr-anchor-target: '#helper'; }

#educationimg {
  -skrollr-animation-name: education;
  -skrollr-anchor-target: '#helper'; }

#menu {
  -skrollr-animation-name: menuanimation;
  -skrollr-anchor-target: '#helper'; }

#objectivescontent {
  -skrollr-animation-name: objectivescontent;
  -skrollr-anchor-target: '#helper'; }

#educationcontent {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

#educationtitle {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

#educationimg {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

#cumplimentaryeducationcontent {
  -skrollr-animation-name: cumplimentaryeducationcontent;
  -skrollr-anchor-target: '#helper'; }

@-skrollr-keyframes introanimation {
  skrollr-0 {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-50p {
    transform: translate(0%, 5%);
    opacity: 0; } }

@-skrollr-keyframes landingbg {
  skrollr-0 {
    transform: translate(0%, 100%);
    opacity: 1; }
  skrollr-100p {
    transform: translate(0%, -100%);
    opacity: 0; } }

@-skrollr-keyframes whoamicontent {
  skrollr-150p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-250p {
    transform: translate(110%, 0%);
    opacity: 0; } }

@-skrollr-keyframes objectivescontent {
  skrollr-300p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-400p {
    transform: translate(160%, 0%);
    opacity: 0; } }

@-skrollr-keyframes skillscontent {
  skrollr-450p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-500p {
    transform: translate(0%, -10%);
    opacity: 0; } }

@-skrollr-keyframes educationcontent {
  skrollr-600p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-700p {
    transform: translate(0%, -50%);
    opacity: 0; } }

@-skrollr-keyframes cumplimentaryeducationcontent {
  skrollr-750p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-850p {
    transform: translate(110%, 0%);
    opacity: 0; } }

@-skrollr-keyframes mypicture {
  skrollr-150p {
    transform: translate(0%, 0%); }
  skrollr-250p {
    transform: translate(-110%, 0%); } }

@-skrollr-keyframes bullseye {
  skrollr-250p {
    transform: rotate(0deg); }
  skrollr-300p {
    transform: rotate(-120deg);
    opacity: 1; }
  skrollr-400p {
    opacity: 0; } }

@-skrollr-keyframes rocket {
  skrollr-400p {
    color: #333; }
  skrollr-410p {
    color: #e50000;
    transform: translate(0%, 0%); }
  skrollr-550p {
    transform: translate(300%, -500%); } }

@-skrollr-keyframes education {
  skrollr-0p {
    @active : 0; }
  skrollr-550p {
    @active : 1; } }

@-skrollr-keyframes menuanimation {
  skrollr-70p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-80p {
    transform: translate(0%, -10%);
    opacity: 0; } }

@-skrollr-keyframes slideshow {
  skrollr-0p {
    transform: translate(0%, 0%); }
  skrollr-100p {
    transform: translate(0%, -33.333%); }
  skrollr-150p {
    visibility: visible; }
  skrollr-250p {
    transform: translate(-33.333%, -33.333%); }
  skrollr-300p {
    visibility: visible; }
  skrollr-400p {
    transform: translate(-66.666%, -33.333%); }
  skrollr-450p {
    visibility: visible; }
  skrollr-550p {
    transform: translate(0, -66.666%); }
  skrollr-600p {
    visibility: visible; }
  skrollr-700p {
    transform: translate(0%, -99.999%); }
  skrollr-750p {
    visibility: visible; }
  skrollr-850p {
    transform: translate(-33.333%, -99.999%); }
  skrollr-900p {
    visibility: visible; } }
