#paralax-sections {
  -skrollr-animation-name: slideshow; }

#intro {
  -skrollr-animation-name: introanimation;
  -skrollr-anchor-target: '#helper'; }

#landing-bg {
  -skrollr-animation-name: landingbg;
  -skrollr-anchor-target: '#helper'; }

#whoamicontent h2 {
  -skrollr-animation-name: whoamicontent;
  -skrollr-anchor-target: '#helper'; }

#whoamicontent p {
  -skrollr-animation-name: whoamicontent;
  -skrollr-anchor-target: '#helper'; }

#bullseye img {
  -skrollr-animation-name: bullseye;
  -skrollr-anchor-target: '#helper'; }

#srocket {
  -skrollr-animation-name: srocket;
  -skrollr-anchor-target: '#helper'; }

#msrocket {
  -skrollr-animation-name: msrocket;
  -skrollr-anchor-target: '#helper'; }

#skillsdesc {
  -skrollr-animation-name: skillscontent;
  -skrollr-anchor-target: '#helper'; }

#mypicture img {
  -skrollr-animation-name: mypicture;
  -skrollr-anchor-target: '#helper'; }

#skillstitle {
  -skrollr-animation-name: skillscontent;
  -skrollr-anchor-target: '#helper'; }

#educationimg {
  -skrollr-animation-name: activate_animation_education;
  -skrollr-anchor-target: '#helper'; }

#menu {
  -skrollr-animation-name: menuanimation;
  -skrollr-anchor-target: '#helper'; }

#objectivescontent {
  -skrollr-animation-name: objectivescontent;
  -skrollr-anchor-target: '#helper'; }

#educationcontent {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

#educationtitle {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

#educationimg {
  -skrollr-animation-name: educationcontent;
  -skrollr-anchor-target: '#helper'; }

@-skrollr-keyframes mypicture {
  skrollr-100p {
    opacity: 1; }
  skrollr-300p {
    opacity: 0; } }

@-skrollr-keyframes educationcontent {
  skrollr-750p {
    opacity: 1; }
  skrollr-850p {
    opacity: 0; } }

@-skrollr-keyframes msrocket {
  skrollr-500p {
    color: #e50000;
    opacity: 0;
    transform: translate(-400%, -200%) rotate(90deg); }
  skrollr-550p {
    opacity: 1;
    transform: translate(-200%, -100%) rotate(80deg); }
  skrollr-600p {
    color: #333;
    transform: translate(0%, 0%) rotate(-45deg); } }

@-skrollr-keyframes introanimation {
  skrollr-0 {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-50p {
    transform: translate(0%, 5%);
    opacity: 0; } }

@-skrollr-keyframes landingbg {
  skrollr-0 {
    transform: translate(0%, 100%);
    opacity: 1; }
  skrollr-100p {
    transform: translate(0%, -100%);
    opacity: 0; } }

@-skrollr-keyframes whoamicontent {
  skrollr-150p {
    opacity: 1; }
  skrollr-250p {
    opacity: 0; } }

@-skrollr-keyframes objectivescontent {
  skrollr-300p {
    opacity: 1; }
  skrollr-400p {
    opacity: 0; } }

@-skrollr-keyframes skillscontent {
  skrollr-450p {
    opacity: 1; }
  skrollr-500p {
    opacity: 0; } }

@-skrollr-keyframes bullseye {
  skrollr-250p {
    transform: rotate(0deg); }
  skrollr-300p {
    transform: rotate(-120deg);
    opacity: 1; }
  skrollr-400p {
    opacity: 0; } }

@-skrollr-keyframes srocket {
  skrollr-400p {
    color: #333; }
  skrollr-410p {
    color: #e50000;
    transform: translate(0%, 0%); }
  skrollr-550p {
    transform: translate(300%, -500%); } }

@-skrollr-keyframes activate_animation_education {
  skrollr-0p {
    @active : 0; }
  skrollr-700p {
    @active : 1; } }

@-skrollr-keyframes menuanimation {
  skrollr-70p {
    transform: translate(0%, 0%);
    opacity: 1; }
  skrollr-80p {
    transform: translate(0%, -10%);
    opacity: 0; } }

@-skrollr-keyframes slideshow {
  skrollr-0p {
    transform: translate(0%, 0%); }
  skrollr-100p {
    transform: translate(0%, -25%); }
  skrollr-150p {
    visibility: visible; }
  skrollr-250p {
    transform: translate(-25%, -25%); }
  skrollr-300p {
    visibility: visible; }
  skrollr-400p {
    transform: translate(-50%, -25%); }
  skrollr-450p {
    visibility: visible; }
  skrollr-550p {
    transform: translate(0%, -50%); }
  skrollr-600p {
    visibility: visible; }
  skrollr-700p {
    transform: translate(-25%, -50%); }
  skrollr-750p {
    visibility: visible; }
  skrollr-850p {
    transform: translate(-25%, -75%); }
  skrollr-900p {
    visibility: visible; }
  skrollr-1000p {
    transform: translate(0%, -75%); }
  skrollr-1050p {
    visibility: visible; } }
