/*RESET*/
* { padding:0; margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

:hover, :focus, :active { outline: none; }

html, button, input, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

body { margin: 0; font-size: 13px; line-height: 1.6;}


h1,h2,h3,h4,h5,h6{margin:1em 0; font-weight: normal;}


a { color: #0078CF; font-weight: normal;
	cursor: pointer;  text-decoration: none;
	transition:color 0.2s ease; -moz-transition:color 0.2s ease; -webkit-transition:color 0.2s ease; -o-transition:color 0.2s ease;}

a:hover { color: #000; text-decoration: underline;}
a:visited{opacity:0.9;}


::-moz-selection { background: #0078CF; color: #fff; text-shadow: none; }
::selection { background: #0078CF; color: #fff; text-shadow: none; }

p{ margin:1em 0; text-align:justify;}




/* -- TYPO
------------------------------------------------------------- */
html, button, input, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

strong{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

h1 {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight:700;
  font-size: 1.4em;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 1;
	padding:7px;
	text-align:left;
	background: #28a8df;
	color: white;
	text-shadow: 2px 2px 5px #016fb9;
	font-weight:bold;
	border-radius: 10px;

}


h2 {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight:700;
  font-size: 1.4em;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 1;
	color: #333;
	padding:3px;
	text-align:left;

}

h3 {
	font-family: " Helvetica Neue Bold" , " HelveticaNeue-Bold" , Helvetica, Arial, Sans, sans-serif;
	font-weight:900;
  font-size: 1em;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 1.5;
	color:#fff;
}

h4 {
	font-family: " Helvetica Neue Bold" , " HelveticaNeue-Bold" , Helvetica, Arial, Sans, sans-serif;
	font-weight:900;
  font-size: 1em;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 1.5;
	color:#989994;
}

h5 {
	font-weight:400;
	font-size: 0.99em;
	text-transform: uppercase;
	color: #ffdb17;

}

h6 { font-size: .75em; font-weight: 700; }

body {
	font-size: 0.9em;
	line-height: 1.6;
}

html, body {
	background-image:url(../imgs/bg/bgw.png);
	height: 100%;
	background-color: #fff;
}

#wrapper {
	height: auto !important;
	margin: 0 auto;
	width: 1150px;
}

img{
  height:100%;
}

section{
	margin: 0 auto;
	margin-top:15px;
	margin-bottom:5px;
	min-width:1150px;
	width: 1150px;
	height: auto;
}

header {
	background-image:url(../imgs/bg/bg.png);
	min-width:1150px;
	height:90px;
	margin: 0 auto;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#999;
}

#header_contenido{
	margin: 0 auto;
	min-width:1150px;
	width:1150px;
	height:90px;
}

nav{
  float:left;
	display:block;
  position: relative;
	height:90px;
	width:887px;
	/*background-color:#000;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#B0BFBE;*/
}

#logo_contenedor{
	/*IGUAL ALTURA QUE EL HEADER*/
	margin:5px;
	float:left;
	/*ALTURA LOGO*/
	height:80px;
}
#menu_contenido{
	position: absolute;
	right:0;
	bottom:0;
	height:auto;
	margin-bottom:15px;

}
.clearing{
	clear:both;
}

header a img{
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 1s ease;
	text-decoration:none;
	border:0;
}



a img:hover{
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	filter: alpha(opacity = 50);
}

#goTop{
	border: none;
	padding: 10px;
	font-weight: bold;
	background-color: #0066cc;
	color: #fff;
	position:fixed;
	top:-100px;
	right:10px;
	z-index:10;
	text-decoration:none;
}

#goTop:hover {
  cursor: pointer;
  background-color: #3399cc;
  color: #333;
}

footer {
	background-image:url(../imgs/bg/bg.png);
	min-width:1150px;
	margin: 0 auto;
	margin-top: 15px;
	padding-top:10px;
	padding-bottom:10px;
}

#footer_contenido{
	margin: 0 auto;
	min-width:1150px;
	width:1150px;
}

#content{
 padding-left: 20px;
}
